:root {
    --col_leftcol : hsl(23, 57%, 15%);

    font-size: 16px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    padding: 50px;
    background-image: url(https://via.placeholder.com/980x150);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aliceblue;
}


.header img {
    max-width: 100%;
}

.header h1 {
    margin: 60px auto 40px auto;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    width: 95%;
    text-align: center;
}


.column {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.col1 {
    min-width: 10%;
}


.col {
    /* background-color: tomato; */
    margin-top: 3px;
}

.leftcol {
    width: 24%;
    padding-left: 3px;
    background-color: hsl(23, 57%, 15%);
    color: white;
}


.col1 {
    width: 24%;
}

.col2 {
    width: 50%;
}

.col3 {
    width: 49%;
}

@media (orientation: portrait) {
    .header h1 {
        color: white;
        text-transform: uppercase;
        font-weight: 700;
    }

    .header {
        padding: 30px;
        background-image: url(images/background-index.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: aliceblue;
    }

    body {
        background-color: aquamarine;
    }

    .column {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 10%;
        text-align: center;
    }

    .leftcol {
        width: 100%;
    }
    
    
    .col1 {
        width: 100%;
    }
    
    .col2 {
        width: 100%;
    }
    
    .col3 {
        width: 100%;
    }
}
