:root {

/*
  Mobile: 375px
  Desktop: 1440px */


/* ## Colors   */
/*             */
/* ### Primary */

--Blue: hsl(246, 80%, 60%);
--Light-red: hsl(15, 100%, 70%) /*(work)*/;
--Soft-blue: hsl(195, 74%, 62%) /*(play)*/;
--Light-red: hsl(348, 100%, 68%) /*(study)*/;
--Lime-green: hsl(145, 58%, 55%) /*(exercise)*/;
--Violet: hsl(264, 64%, 52%) /*(social)*/;
--Soft-orange: hsl(43, 84%, 65%) /*(self care)*/;

/* ### Neutral */

--Very-dark-blue: hsl(226, 43%, 10%);
--Dark-blue: hsl(235, 46%, 20%);
--Desaturated-blue: hsl(235, 45%, 61%);
--Pale-Blue: hsl(236, 100%, 87%);
}

*{
    margin: 0px;
    padding: 0px;
    border: none;
    list-style-type: none;
}

/* ### Font */
body {
    font-size: 18px;
}

.rubik300 {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.rubik400 {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

.rubik500 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}


/* ## Card */
.bg-profile{
    background-color: var(--Desaturated-blue);
}

.bg-card{
    background-color: var(--Dark-blue);
}

.ptfrul {
    font-size: 0;
}

ul li {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

button {
    text-align: left;
    background-color: none;
    background: none;
    color: white;
}

.cartao  {
    height: 100%;
    color: white;
}


/* ## LAB */

.Pai{
    width: 80%;
    height: 50%;

    left: 50%;
    position: absolute;
    transform: translatex(-50%);
}

.segurador-mestre {
    margin: 1em;
}



.grid-container {
    background-color: white;
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 700px;
}

.grid-script{
    width: relative;
    position: relative;
    margin: 1em;
    height: 500px;

    background-color: gray;
    border: 1px solid red;
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: .5em;
}

.item:nth-child(odd){
    background-color: white;
}

.profile {
    grid-area: 1 / 1 / 3 / 2;
}

.item {
    border-radius: .5em;
}
