:root {
    font-size: 16px;

    --h1-size: 4rem;
    --h2-size: 1.625rem;

    --h1-wgt: 500;
    --h2-wgt: 400;

    --btn-color: #f40612;

    --faq-color: #999;
    --faq-btn-background: #303030;

    --hr-color: #444;

    --detail: #0071eb;


}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #000;
}


/* ***************
       TEXT 
*************** */

h1, h2, h3, p {
    font-family: 'DM sans',Helvetica,Arial,sans-serif;
    color: #fff;
    letter-spacing: 0;
}

h1 {
    font-size: var(--h1-size);
    font-weight: var(--h1-wgt);
}

h2 {
    font-size: var(--h2-size);
    font-weight: var(--h2-wgt); 
}

hr {
    border: 4px solid var(--hr-color);
}


/* ***************
      IMAGES
*************** */
.header-logo {
    width: 100%;
    margin: 0px;
}

.header-container-background {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.article-img-holder {
    width: 100%;
    margin: 0px auto;
    position: relative;
}

.aritcle-img-media-holder {
    width: 100%;
    position: relative;
    z-index: -1;
}

/* ***************
      BUTTONS
*************** */

.header-button {
    opacity: .9;
    padding: 1em;
    background-color: var(--btn-color);
}

.header-button:hover {
    opacity: 1;
    cursor: pointer;
}

.faq-btn {
    display: block;
    background-color: var(--faq-btn-background);
    padding: 1em;
    width: 10em;
    height: 0em;
}





/* ***************
        DIV 
*************** */

.header-container {
}







/*     Width >= 960 PX    */

/*     Width < 959 PX    */

/*     Width < 959 PX & PORTRAIT     */

/*     Width =< 600 PX    */

/*     Width =< 600 PX & PORTRAIT    */