* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: gray;
    padding: 10px;
    margin: 50px;
    display: flex;
}

.item {
    background-color: red;
    color: white;
    font-size: 35px;
    padding: 20px;
    margin: 10px;
}